@import "../styles/css/themes/default.css";
/* @value icon: "../styles/css/base/icon.css"; */

.wrapper {
  /* composes: iconfont from icon;
  composes: icon-arrow-double from icon; */
  color: $blue-primary;
}

.btnWrapper {
  display: inline-block;
  margin-left:  1rem;
}

.firstBtn {
  margin-right: 1rem;
}